body {
	background: #effdbb;
	margin-top: 10px;
}

#gif-dump {
	background: #17f00f;
}

.gifButton {
	margin: 0 5px;
}

.gifItem {
	display: inline-block;
	padding: 20px;
}

.gif {
	background: #006900;
	padding: 10px;
	border-radius: 25px;
}